@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
  // Background colors
  --main-bg-color: hsl(248, 100%, 4%);
  --footer-bg: hsl(0, 0%, 0%);
  // Text Colors
  --blue-text-color: hsl(227, 79%, 81%);
  --main-text-color: hsl(0, 0%, 100%);
  --text-gradient: linear-gradient(271.21deg, #9997FF -14.13%, #FFB4FC 118.09%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  // Font variations
  --fancy-font-family: 'Manrope', sans-serif;
  --main-font-family: 'Inter', sans-serif;
  // Font Sizes
  --small-heading-size: 3.6rem;
  --main-heading-size: 6.0rem;
  --sub-heading-size: 2.4rem;
  --main-text-size: 1.8rem;
  --small-text-size: 16px;
  // Weight Variations
  --text-bold: 800;
  --text-semi-bold: 700;
  --text-medium: 500;
  --text-regular: 400;
  // Others
  --main-max-width: 1300px;
  --wide-max-width: 1400px;
  --discord-btn-color: hsl(227, 58%, 65%);
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 768px) {
    font-size: 50%;
  }
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 3.5rem 0rem 3.5rem;
}