.firstSectionCircle {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url(../images/blur-effects/SectionOne.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.firstSectionContainer {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 940px) {
    align-items: flex-start;
  }
}

.secondSectionContainer {
  max-width: var(--wide-max-width);
  width: 100%;
  margin-top: 19.5rem;
  & .secondSectionText {
    max-width: 52rem;
    padding: 3.5rem;
    & > * {
      text-align: left;
    }
  }
}

.bigSubHeadingAlign {
  @media only screen and (min-width: 940px) {
    text-align: center;
  }
}

.thirdSectionContainer {
  max-width: var(--main-max-width);
  width: 100%;
  min-height: 100rem;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 940px) {
    margin-top: 12rem;
    text-align: center;
    align-items: center;
  }
}

.thirdSectionBlur {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}

.spaceBetweenVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}