.firstSectionCircle {
  position: absolute;
  width: 1200px;
  min-height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url(../images/circles/SectionOne.svg);
  background-repeat: no-repeat;
  background-size: cover;
}