.firstSectionCircle {
  position: absolute;
  width: 1549px;
  height: 1283px;
  left: -800px;
  top: -577px;
  background: linear-gradient(90deg, rgb(42, 54, 96, 0.85), rgb(42, 54, 96, 0.35));
  filter: blur(500px);
  border-radius: 30%;
}