.container {
    max-width: var(--main-max-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 22rem;
}

.links {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    align-items: center;
    justify-items: center;
    grid-gap: 5.5rem;
}